<div class="container mt-4 text-center">
    <h2>Agregar Tarea</h2>
    <form (submit)="save()" class="col-md-12">
        <div class="row justify-content-center">
            <div class="mb-3 col-md-9">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" name="name" [(ngModel)]="newTask.name" class="form-control" required>
            </div>
        
      <div class="mb-3 col-md-9">
        <label for="description" class="form-label">Descripción:</label>
        <textarea id="description" name="description" [(ngModel)]="newTask.description" class="form-control" rows="5" required></textarea>
      </div>

      <!--<div class="mb-3 col-md-9">
        <label for="priority" class="form-label">Prioridad:</label>
        <input id="priority" name="priority" [(ngModel)]="newTask.priority" class="form-control" rows="5" required>
      </div>-->

      <div class="col-md-9 mb-4">
        <label for="priority" class="form-label">Prioridad:</label>
        <select class="form-select" id="priority" name="priority" [(ngModel)]="newTask.priority" aria-label="Selecciona una opción">
          <option value="1">Alta</option>
          <option value="2">Media</option>
          <option value="3">Baja</option>
        </select>
      </div>
      
      <div>
        <button type="submit" class="btn btn-primary col-md-7 mb-2">Agregar tarea</button>
        <button type="button" (click)="redirect()" class="btn btn-secondary col-md-7">Volver</button>
      </div>
    </div>
    </form>
  </div>