<div class="position-sticky">
    <ul class="nav flex-column margin-block">
      @for (task of taskList; track task.id)
      {
        <div class="card mb-3 border-primary">
          <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <button class="btn btn-danger me-2" (click)="deleteTask(task.id)">Delete</button>
          </div>
        </div>
      }
    </ul>
  </div>

<div class="col-lg-6">
    <router-outlet></router-outlet>
</div>

<a [routerLink]="['add']">add</a>
