<div class="container mt-4 text-center">
    <h2>Tareas</h2>
    <ul class="nav flex-row">
      @for (task of taskList; track task.id)
      {
        <div class="card border-primary col-sm-6 mb-1">
          <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <div class="text-center">
                <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
            </div>
          </div>
        </div>
      }
    </ul>
  </div>

<div class="col-lg-6">
    <router-outlet></router-outlet>
</div>

<div class="container text-center my-4">
    <a class="btn btn-success col-md-6" [routerLink]="['add']">add</a>
</div>
